modules = ["python-3.10"]
run = "python game.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python game.py"]

[[ports]]
localPort = 1000
externalPort = 3000
exposeLocalhost = true
